.footer-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: start; */
    justify-content: space-between;
    padding: 20px 0px;
    color: #fff;
    gap: 40px;
}


.footer-first-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 80px;
}

.footer-signup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-logo-and-company-name{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 25px;
}

.footer-logo-and-company-name img{
    width: auto;
    height: 142px;
}

.footer-company-name{
    display: flex;
    flex-direction: column;
}

.footer-company-name p{
    font-size: 34px;
    line-height: 42px;
    font-weight: 500;
}

.signup-for-newsletter{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signup-for-newsletter span{
    display: flex;
    align-items: center;
    gap: 5px;
}

.signup-for-newsletter span h3{
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
}

.signup-for-newsletter p{
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    color: var(--secondry-text-color) !important;
}

/* Signup Section */
.footer-services-section{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: start;
    justify-content: start;
}

.footer-services-section h3{
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 17px;
    border-bottom: 1px solid var(--border-color);
    position: relative;
}

.footer-services-section h3::after{
    content: "";
    position: absolute;
    right: -4px;
    bottom: -2px;
    width: 2px;
    height: 2px;
    transform: rotate(45deg);
    border: 1px solid var(--border-color);
}

.footer-nav-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-nav-links a{
    font-size: 17px;
    line-height: 20px;
    font-weight: 200 !important;
    color: #ffffff;
    text-decoration: none;
}

/* Get in Touch */
.footer-get-in-touch{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: start;
    justify-content: start;
}

.footer-get-in-touch h3{
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    padding-bottom: 17px;
    border-bottom: 1px solid var(--border-color);
    position: relative;
}

.footer-get-in-touch h3::after{
    content: "";
    position: absolute;
    right: -4px;
    bottom: -2px;
    width: 2px;
    height: 2px;
    transform: rotate(45deg);
    border: 1px solid var(--border-color);
}

.footer-contact-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-contact-details a{
    font-size: 17px;
    line-height: 20px;
    font-weight: 200;
}

.footer-follow{
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    color: var(--secondry-text-color);
    margin-top: 60px;
}

.footer-icons{
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-icons a{
    background: #FFFFFFE0;
    padding: 7px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #01141D;
    text-decoration: none;
}

.footer-copy-rights-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 80px;
    /* border-top: 1px solid var(--border-color); */
}



.footer-copy-left-section{
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-copy-left-section p{
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
}

.footer-copy-right-section{
    display: flex;
    align-items: center;
    gap: 60px;
}

.footer-copy-right-section a, p{
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}

.footer-right-section{
    display: flex;
    gap: 100px;
}

.signup-for-newsletter-field{
    display: flex;
    gap: 10px;
}